body{
	background-image: url("bg.jpg");
	background-repeat: repeat-y;
}
h1{
	border-radius: 40px;
	border-style: dotted;
	border-color: red;
	color: orange;
	text-shadow: #102360 2px 0px 10px;
	border-width: 5px;
	text-align: center;
	margin-left: 25%;
	margin-right: 25%;
	font-family: Cooper;
}
p{
	font-size: 20px;
	text-shadow: #102360 2px 0px 10px;
	text-align: center;
	
font-family: Calibri;

}
#info{
	margin-left: 37.5%;
	background-color: lightgrey;
	opacity: 0.7;
	width: 320px;
	border-radius: 20px;
}
#img1{
	width: 200px;
	height: 200px;
	margin-left: 42%;
}

#img2{
	width: 300px;
	height: 400px;
	margin-left: 38%; 
}
h3{
	font-size: 24px;
	color: orange;
}
h2{
	font-size: 24px;
	color: orange;
	text-align: center;
	text-shadow: #102360 2px 0px 10px;
}
